<!doctype html>
<title>File Upload Url for </title>
<h2>Please login using your username and password</h2>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<label for="uname">Username : </label>
			<input type="text" id="uname" name="uname"><br>
		</p>
		<p>
			<label for="pword">Password </label>
			<input type="password" id="pword" name="pword"><br>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
</form>